@import "variables.sass"
@import "partials/header.sass"
@import "partials/hamburguer.sass"
@import "partials/news"
@import "partials/profile"


:root 
    font-size: 15px

body 
    box-sizing: border-box
    margin: 0
    padding: 0
    background: $primary-color