
@import "../variables"

#principal-header
    padding: 1rem
    display: flex
    justify-content: flex-end
    align-items: center
    height: 2.65rem
    background: $secundary-color

    h1 
        font-family: $tittle-font
        letter-spacing: 0.3rem
        color: #eeffff

#icon
    font-size: 2rem
    padding-left: 0.5rem
    color: #eeffff
        
    
